<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOuqpjZHnGrziCssyHkhjxnhxZPXDsXYg</string>
	<key>GCM_SENDER_ID</key>
	<string>565170721970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.startupExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>startup-expense-tracker-3df6b</string>
	<key>STORAGE_BUCKET</key>
	<string>startup-expense-tracker-3df6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565170721970:ios:ee60d9ec99a5244f75e5ab</string>
</dict>
</plist>